.App{
  text-align: center;
  width: 70%;
  margin: auto;
}
@media(max-width:991px){
  .App{
    width: 80%;
  }
}
@media(max-width:767px){
  .App{
    width: 90%;
  }
}
h1{
  color: rgb(41, 30, 30);
  font-weight: bold;
  font-size: 48px;
}